{% extends 'base.html' %}
{% block title %}Detalhes do Agendamento{% endblock %}

{% block content %}
<h1>Detalhes do Agendamento</h1>

<p><strong>Agenda:</strong> {{ agendamento.agenda }}</p>
<p><strong>Cliente:</strong> {{ agendamento.cliente }}</p>

<div>
    <a href="{% url 'agendamento-update' agendamento.pk %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'agendamento-delete' agendamento.pk %}" class="btn btn-danger">Deletar</a>
    <a href="{% url 'agendamento-list' %}" class="btn btn-secondary">Voltar</a>
</div>
{% endblock %}
