{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Agendamentos{% endblock %}

{% block content %}
<h1>Lista de Agendamentos</h1>

<!-- Botão para Adicionar Novo Agendamento -->
<div style="text-align: right; margin-bottom: 20px;">
    <a href="{% url 'agendamento-add' %}" class="btn btn-primary" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #3F51B5;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;">
        Adicionar Agendamento
    </a>
</div>

<!-- Lista de Agendamentos -->
<ul>
    {% for agendamento in agendamentos %}
        <li>{{ agendamento.agenda }} - {{ agendamento.cliente }}</li>
    {% empty %}
        <li>Nenhum agendamento cadastrado ainda.</li>
    {% endfor %}
</ul>
{% endblock %}
