<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Exclusão do Barbeiro</title>
</head>
<body>
    <h1>Confirmar Exclusão do Barbeiro</h1>

    <p>Você tem certeza que deseja excluir o barbeiro "{{ barbeiro.NomeBarbeiro }}"?</p>

    <form method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Exclusão</button>
    </form>

    <p><a href="{% url 'barbeiro-detail' barbeiro.pk %}">Cancelar</a></p>
</body>
</html>
