{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Barbeiros{% endblock %}

{% block content %}
<h1>Lista de Barbeiros</h1>

<!-- Botão para Adicionar Novo Barbeiro -->
<div style="text-align: right; margin-bottom: 20px;">
    <a href="{% url 'barbeiro-add' %}" class="btn btn-primary" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #3F51B5;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;">
        Adicionar Barbeiro
    </a>
</div>

<!-- Lista de Barbeiros -->
<ul style="list-style-type: none; padding: 0;">
    {% for barbeiro in barbeiros %}
        <li style="margin-bottom: 10px;">
            <a href="{% url 'barbeiro-detail' barbeiro.idBarbeiro %}" style="text-decoration: none; color: #1976D2; font-weight: bold;">
                {{ barbeiro.NomeBarbeiro }}
            </a>
        </li>
    {% empty %}
        <li>Nenhum barbeiro cadastrado ainda.</li>
    {% endfor %}
</ul>
{% endblock %}
