{% extends 'base.html' %}

{% block title %}Cadastrar/Editar Barbeiro{% endblock %}

{% block content %}
<h1>{{ form.instance.pk|yesno:"Editar Barbeiro,Cadastrar Novo Barbeiro" }}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <div style="text-align: center; margin-top: 20px;">
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'barbeiro-list' %}" class="btn btn-secondary" style="margin-left: 10px;">Voltar</a>
    </div>
</form>
{% endblock %}
