{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Barbearias{% endblock %}

{% block content %}
<h1>Lista de Barbearias</h1>

<!-- Botão para Adicionar Nova Barbearia -->
<div style="text-align: right; margin-bottom: 20px;">
    <a href="{% url 'barbearia-add' %}" class="btn btn-primary" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #3F51B5;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;">
        Adicionar Barbearia
    </a>
</div>

<!-- Lista de Barbearias -->
<ul style="list-style-type: none; padding: 0;">
    {% for barbearia in barbearias %}
        <li style="margin-bottom: 10px;">
            <a href="{% url 'barbearia-detail' barbearia.idBarbearia %}" style="
                text-decoration: none; 
                color: #1976D2; 
                font-weight: bold;">
                {{ barbearia.nome }} - {{ barbearia.endereco }}
            </a>
        </li>
    {% empty %}
        <li>Nenhuma barbearia cadastrada ainda.</li>
    {% endfor %}
</ul>
{% endblock %}
