{% extends 'base.html' %}
{% block title %}Adicionar Barbearia{% endblock %}

{% block content %}
<div class="container" style="max-width: 600px; margin: auto;">
    <h1>Adicionar Barbearia</h1>

    <form method="post">
        {% csrf_token %}
        
        <label for="id_nome">Nome:</label>
        {{ form.nome }}

        <label for="id_endereco">Endereço:</label>
        {{ form.endereco }}

        <label for="id_hrAbertura">Horário de Abertura:</label>
        {{ form.hrAbertura }}

        <label for="id_hrFechamento">Horário de Fechamento:</label>
        {{ form.hrFechamento }}

        <!-- Botões -->
        <div style="text-align: center; margin-top: 20px;">
            <button type="submit" style="
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #3F51B5;
                color: white;
                padding: 10px 20px;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                font-size: 16px;
                transition: background-color 0.3s ease;
                min-width: 100px;
                height: 40px;
            ">Salvar</button>
            <a href="{% url 'barbearia-list' %}" style="
                display: inline-flex;
                align-items: center;
                justify-content: center;
                background-color: #ccc;
                color: #333;
                text-decoration: none;
                padding: 10px 20px;
                border-radius: 5px;
                margin-left: 10px;
                font-size: 16px;
                min-width: 100px;
                height: 40px;
                transition: background-color 0.3s ease;
            ">Voltar</a>
        </div>
    </form>
</div>
{% endblock %}
