{% extends 'base_generic.html' %}

{% block title %}Cadastrar Novo Agendamento{% endblock %}

{% block content %}
<h2>Cadastrar Novo Agendamento</h2>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_agenda" class="form-label">Agenda</label>
        {{ form.agenda.label_tag }}
    </div>
    <div class="mb-3">
        <label for="id_cliente" class="form-label">Cliente</label>
        {{ form.cliente }}
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>
{% endblock %}
