{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h1>Lista de Clientes</h1>

<!-- Botão para Adicionar Novo Cliente -->
<div style="text-align: right; margin-bottom: 20px;">
    <a href="{% url 'cliente-add' %}" class="btn btn-primary" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #3F51B5;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;">
        Adicionar Cliente
    </a>
</div>

<!-- Lista de Clientes -->
<ul>
    {% for cliente in clientes %}
        <li>
            <a href="{% url 'cliente-detail' cliente.pk %}" style="text-decoration: none; color: #1976D2;">
                {{ cliente.nomeCliente }} - {{ cliente.telefoneCliente }} - {{ cliente.emailCliente }}
            </a>
        </li>
    {% empty %}
        <li>Nenhum cliente cadastrado ainda.</li>
    {% endfor %}
</ul>
{% endblock %}
