{% extends 'base.html' %}
{% load static %}

{% block title %}Detalhes do Cliente{% endblock %}

{% block content %}
<h1>Detalhes do Cliente</h1>

<p><strong>Nome:</strong> {{ cliente.nomeCliente }}</p>
<p><strong>Telefone:</strong> {{ cliente.telefoneCliente }}</p>
<p><strong>Email:</strong> {{ cliente.emailCliente }}</p>
<p><strong>Sexo:</strong> {{ cliente.sexoCliente }}</p>
<p><strong>Barbeiro Preferido:</strong> {{ cliente.barbeiroPreferido }}</p>
<p><strong>Foto:</strong></p>
{% if cliente.fotoCliente %}
    <img src="{{ cliente.fotoCliente.url }}" alt="Foto do Cliente" style="width: 200px; height: auto; border-radius: 5px;">
{% else %}
    <p>Sem foto disponível.</p>
{% endif %}

<!-- Botões de Ação -->
<div style="margin-top: 20px;">
    <a href="{% url 'cliente-update' cliente.pk %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'cliente-delete' cliente.pk %}" class="btn btn-danger">Deletar</a>
    <a href="{% url 'cliente-list' %}" class="btn btn-secondary">Voltar</a>
</div>
{% endblock %}
