{% extends 'base.html' %}
{% load static %}

{% block title %}Página Inicial{% endblock %}

{% block content %}


<!-- Banner -->
<div style="text-align: center; margin-bottom: 20px;">
    <img src="{% static 'banner.png' %}" alt="banner da barbearia" style="max-width: 100%; height: auto;" />
</div>

<!-- Título -->
<h1>Bem-vindo à Barbearia</h1>

<p style="text-align: center;">De cabelo, barba, bigode e futebol a gente entende!</p>
<p style="text-align: justify;">
    Uma barbearia da cidade satélite Varjão - DF que tem como missão oferecer autoestima e bem-estar ao público masculino
    por meio de cortes de cabelo de adultos e crianças, aliado à barba, bigode e tintura, em prol de 100% de satisfação
    com o atendimento e execução dos nossos serviços.
</p>

<hr id="pag-alguns_servicos" />


<!-- Serviços -->
<h2 style="text-align: center;">Alguns Serviços</h2>
<p style="text-align: center;">Conheça alguns dos nossos principais serviços</p>

<table style="margin: 0 auto; text-align: center;">
    <tr>
        <td>
            <img src="{% static 'corte_maquina.png' %}" alt="Corte na Máquina" style="width: 100px; height: auto;" />
        </td>
        <td>
            <img src="{% static 'corte_tesoura.png' %}" alt="Corte na Tesoura" style="width: 100px; height: auto;" />
        </td>
        <td>
            <img src="{% static 'navalha_barba.png' %}" alt="Barba" style="width: 100px; height: auto;" />
        </td>
        <td>
            <img src="{% static 'sobrancelha.png' %}" alt="Sobrancelha" style="width: 100px; height: auto;" />
        </td>
    </tr>
    <tr>
        <td>Corte na Máquina</td>
        <td>Corte na Tesoura</td>
        <td>Barba</td>
        <td>Sobrancelha</td>
    </tr>
</table>

{% endblock %}
