{% extends 'base.html' %}
{% block title %}Relações de Trabalho{% endblock %}

{% block content %}
<h1>Relações de Trabalho</h1>

<!-- Botão para Adicionar Nova Relação -->
<div style="text-align: right; margin-bottom: 20px;">
    <a href="{% url 'trabalha-add' %}" class="btn btn-primary" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #3F51B5;
        color: white;
        text-decoration: none;
        border-radius: 5px;">
        Adicionar Relação
    </a>
</div>

<!-- Lista de Relações -->
<ul>
    {% for trabalho in trabalhos %}
        <li>
            {{ trabalho.idBarbeiro.NomeBarbeiro }} trabalha na {{ trabalho.idBarbearia.nome }}
            <a href="{% url 'trabalha-delete' trabalho.pk %}" class="btn btn-danger" style="margin-left: 10px;">
                Deletar
            </a>
        </li>
    {% empty %}
        <li>Nenhuma relação cadastrada ainda.</li>
    {% endfor %}
</ul>
{% endblock %}
