{% extends 'base.html' %}
{% load static %}

{% block title %}Lista de Trabalhos{% endblock %}

{% block content %}
<h1>Lista de Trabalhos</h1>

<!-- Botão para Adicionar Novo Trabalho -->
<div style="text-align: right; margin-bottom: 20px;">
    <a href="{% url 'trabalha-add' %}" class="btn btn-primary" style="
        display: inline-block;
        padding: 10px 20px;
        background-color: #3F51B5;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;">
        Adicionar Trabalho
    </a>
</div>

<!-- Lista de Trabalhos -->
<ul>
    {% for trabalha in trabalhos %}
        <li>{{ trabalha.idBarbeiro.NomeBarbeiro }} trabalha na {{ trabalha.idBarbearia.nome }}</li>
    {% empty %}
        <li>Nenhum trabalho cadastrado ainda.</li>
    {% endfor %}
</ul>
{% endblock %}
